.attribution {
    font-size: 11px;
    text-align: center;
    padding: auto;
    margin-bottom: -35rem;
    margin-left: -18.55rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: #141519;
    box-sizing: border-box;
    margin: 0px;
    /* background-color: hsl(216, 12%, 8%); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 30px;
    background-color: #202731;
    height: 300px;
    width: 300px;
    color: aliceblue;

    border-radius: 20px;
}

#star {
    border-radius: 50%;
    background-color: #242d39;
    width: 20px;
    height: 20px;
    display: inline-block;
    /* margin-right: 10px; */
    padding: 5px;
    /* border: -10px; */
}

img {
    margin: 2px;
}

#heading {
    font-size: 22px;
    margin-top: 15px;
}

#descip {
    font-size: medium;
    margin-top: -15px;
    color: hsl(217, 12%, 63%);
}

.rating {
    width: 300px;
    /* height: 30px; */
    text-align: center;
    /* border: 2px solid white; */
    /* margin-right: 100px; */
}


input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    margin: 7px;
    /* margin-left: 15px; */
    /* background-color only for content */
    /* background-clip: content-box; */
    /* border: 2px solid #bbbbbb; */
    background-color: #263039;
    border-radius: 50%;
}


input[type="radio"]:focus {
    /*no need, if you don't disable default appearance*/
    outline: none;
    /*to remove the square border on focus*/
}

input[type="radio"]:checked {

    background-color: hsl(25, 97%, 53%);
}

input[type="radio"]:checked~span:first-of-type {
    color: white;
}

label span:first-of-type {
    position: relative;
    left: -30px;
    font-size: 15px;
    color: #676f7a;
}

label span {
    position: relative;
    top: -17px;
}

button {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 40px;
    color: white;
    width: 300px;
    height: 50px;

    font-size: large;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}